.accountSettingsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .accountSettingsPage {
    margin: 0;
  }
}

.title {
  margin: 2.75rem auto;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .title {
    margin-top: min(7.5rem);
    font-size: 2.5rem;
    text-align: center;
  }
}

.setting {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2.5rem auto auto;
  padding: 5%;
  width: 100%;
  border: 2px solid #387359;
  border-radius: 8px;
  font-size: 1.2rem;
  line-height: 1.75rem;
  background: #054343;
}

.setting:hover {
  text-shadow: 1.2px 1.2px 5px #141414;
  background-color: #053737;
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 2 3px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.3s ease-out;
  background-size: 100% 3px, auto;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .setting {
    width: max(30vw);
    margin-top: 1.5rem;
    line-height: 7.5rem;
    padding: 7.5%;
  }
}

.setting a {
  text-decoration: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.75rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .setting a {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }
}

.backBtn {
  margin-top: 3.5%;
  background: #78ddb1;
  border-radius: 8px;
  padding: 0.75rem 2.5rem;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: #074343;
  cursor: pointer;
}

.backBtn:hover {
  border: solid 2px #fff8e1;
  font-size: 1.3rem;
}
