.faq_question {
  color: #fff8e1;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.faq_answer {
  color: #fff8e1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-top: 5%;
}
/* .faqs {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
} */

.faqs .faq,
.faqs .faq_open {
  margin: 8px;
  padding: 12px;
}

.faqs .faq .faq_question,
.faqs .faq_open .faq_question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.faqs .faq .faq_answer {
  opacity: 0;
  max-height: 0;
}

.faqs .faq .faq_question .img {
  position: absolute;
  margin-top: 50%;
  width: 30px;
  height: 30px;
}
