.contactPage {
  margin-left: 7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contactTitle {
  margin-top: min(2.5rem);
  margin-bottom: min(2.5rem);

  font-family: Merriweather;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2rem;
  color: #ff9d46;
}

.contactWritten,
.contactLive {
  width: 85vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.write {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #fff8e1;
}

.whapp,
.mail,
.schedule,
.gps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.contactWhatsapp,
.contactMail,
.contactSchedule,
.contactLocation {
  margin-left: 0.75rem;
  font-family: Lato;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-decoration: line #fff8e1;
  color: #fff8e1;
}

.location {
  max-width: 95vw;
}
