.contactPage {
  margin-left: 7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 767px) {
  .contactPage {
    margin: 0;
    align-items: center;
  }
}

.contactTitle {
  margin-top: min(2.5rem);
  margin-bottom: min(2.5rem);

  font-family: Merriweather;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2rem;
  color: #ff9d46;
}

@media (min-width: 767px) {
  .contactTitle {
    font-size: 3rem;
    line-height: 3.5rem;
    margin: min(8rem) auto 4rem auto;
  }
}

.contactWritten,
.contactLive {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 767px) {
  .contactWritten,
  .contactLive {
    width: 50vw;
    margin-bottom: 2.5rem;
    padding-left: 12.5%;
  }
}

.write {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #fff8e1;
}

@media (min-width: 767px) {
  .write {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.whapp,
.mail,
.schedule,
.gps {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

@media (min-width: 767px) {
  .whapp,
  .mail,
  .schedule,
  .gps {
    align-self: flex-start;
    padding-left: 5%;
  }
}

.contactWhatsapp,
.contactMail,
.contactSchedule,
.contactLocation {
  margin-left: 0.75rem;
  font-family: Lato;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-decoration: line #fff8e1;
  color: #fff8e1;
}

@media (min-width: 767px) {
  .contactWhatsapp,
  .contactMail,
  .contactSchedule,
  .contactLocation {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
}

.location {
  max-width: 95vw;
}
.locationBigger {
  display: none;
}

@media (min-width: 767px) {
  .location {
    display: none;
  }
  .locationBigger {
    display: block;
  }
}
