.detailsPage {
  width: auto;
  height: auto;
}

.entryModalBck {
  position: relative;
  margin: 30% auto auto 5%;
  height: 60vh;
  width: 90vw;
  display: flex;
  background-color: #1e5656;
  border-radius: 40px;
}
.entryModalBck img {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.entryPage {
  position: relative;
}

.entry {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  width: min(14rem);
  flex-direction: column;
  align-items: center;
  margin-left: 1rem;
}

.buttons {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.backBtn a {
  text-decoration: none;
  color: #074343;
  font-weight: bold;
}

.backBtn,
.editBtn {
  font-family: Lato;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: #074343;
  background-color: #78ddb1;
  border-radius: 8px;
  margin-left: 1rem;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
}

.backBtn:hover,
.editBtn:hover {
  text-shadow: 0.5px 0.5px 2px #141414;
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 2 3px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.3s ease-out;
  background-size: 100% 3px, auto;
}

.title {
  padding: 0.5rem;
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  width: 110%;
  height: max(4rem);
  overflow: hidden;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff8e1;
  border: 0.5px solid #78ddb1;
  border-radius: 8px;
  background: rgba(5, 55, 55, 0.4);
}

.title p {
  text-align: center;
  word-wrap: break-word;
}

.date {
  padding: 0.5rem;
  position: absolute;
  top: 7.5rem;
  left: 1.5rem;
  width: 100%;
  font-size: 1rem;
  line-height: 1.15rem;
  opacity: 0.5;
  color: #fff8e1;
  border-radius: 8px;
}

.date p {
  text-align: center;
}

.message {
  position: absolute;
  padding: 0.5rem;
  top: 10rem;
  left: 1.5rem;
  overflow: scroll;
  font-family: Lato;
  font-size: 1.15rem;
  line-height: 1.5rem;
  color: #fff8e1;
  text-align: justify;
  border: 0.5px solid #78ddb1;
  border-radius: 8px;
  background: rgba(5, 55, 55, 0.4);
  height: 12rem;
  width: 110%;
}

@media only screen and (min-width: 375px) {
  .entryModalBck {
    height: 70vh;
  }
}

@media only screen and (min-width: 390px) {
  .entryModalBck {
    height: 55vh;
  }
}

@media only screen and (min-width: 412px) {
  .entryModalBck {
    margin: 30% auto auto 12.5%;
    height: 60vh;
    width: 80vw;
  }

  .title {
    font-size: 1.5rem;
    left: -0.5rem;
    line-height: 1.5rem;
    height: 3rem;
    width: 120%;
  }
  .date {
    font-size: 1.25rem;
    line-height: 2rem;
    width: 200%;
    left: -6rem;
  }
  .message {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-align: center;
    width: 120%;
    height: 16rem;
    left: -0.5rem;
    margin-top: 1.5rem;
  }

  .entry {
    margin-left: min(2.5rem);
  }
  .buttons {
    left: 1.5rem;
  }
}

@media only screen and (min-width: 450px) {
  .entry {
    margin-left: min(4rem);
  }
  .buttons {
    left: 4rem;
  }
}

@media only screen and (min-width: 500px) {
  .entry {
    margin-left: min(5rem);
  }
  .buttons {
    left: min(6rem);
  }
  .title {
    font-size: 2.5rem;
    left: 3.5rem;
  }
  .date {
    font-size: 1.25rem;
    line-height: 1.75rem;
    width: 130%;
    left: 1rem;
  }
  .message {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    top: 10rem;
    left: 0;
    width: 140%;
  }
}

@media only screen and (min-width: 540px) {
  .entryModalBck {
    margin: 20% auto auto 10%;
    height: 80vh;
    width: 80vw;
  }

  .buttons {
    left: min(6rem);
  }
  .title {
    font-size: 1.5rem;
    margin-left: -6rem;
    width: 160%;
  }
  .date {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-left: -3rem;
    width: 160%;
  }
  .message {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-left: -2.5rem;
    width: 160%;
    height: 18rem;
  }
}

@media only screen and (min-width: 768px) {
  .entryModalBck {
    margin: 20% auto auto 12.5%;
    height: 60vh;
    width: 70vw;
  }

  .title {
    margin-left: -5.5rem;
    font-size: 2rem;
    line-height: 2rem;
    width: 200%;
  }
  .date {
    margin-top: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 200%;
  }
  .message {
    margin-top: 2.5rem;
    font-size: 1.75rem;
    line-height: 2rem;
    width: 200%;
    left: 0.5rem;
  }
  .buttons {
    left: min(8rem);
  }
}

@media only screen and (min-width: 820px) {
  .entryModalBck {
    width: 75vw;
  }

  .title {
    margin-left: -2rem;
    line-height: 3rem;
    height: 4.5rem;
    width: 180%;
  }
  .date {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    line-height: 3rem;
    width: 200%;
    margin-left: -1rem;
  }
  .message {
    margin-top: 5.5rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    width: 180%;
    height: 22rem;
    margin-left: 1rem;
  }
  .buttons {
    left: min(11rem);
  }
}

@media only screen and (min-width: 900px) {
  .entryModalBck {
    margin: 20% auto auto 17.5%;
    width: 65vw;
    height: 55vh;
  }
  .entry {
    margin-left: min(3.5rem);
  }
  .buttons {
    left: min(10rem);
  }
}

@media only screen and (min-width: 1024px) {
  .entryModalBck {
    margin: 10% auto auto 20%;
    height: 28rem;
    width: 60vw;
  }
  .entry {
    margin-left: min(2.5rem);
  }
  .title {
    line-height: 1.75rem;
    height: 3rem;
    width: 215%;
  }
  .date {
    margin-top: -2rem;
    font-size: 1.25rem;
    margin-left: 1rem;
  }
  .message {
    margin-top: 0rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-align: center;
    width: 215%;
    height: 12rem;
    margin-left: 1rem;
  }
  .buttons {
    left: min(10rem);
  }
}

@media only screen and (min-width: 1100px) {
  .entry {
    margin-left: min(10.5rem);
  }
  .buttons {
    left: min(12rem);
  }
}

@media only screen and (min-width: 1200px) {
  .entryModalBck {
    margin: 15% auto auto 20%;
    height: 50vh;
    width: 50vw;
  }
  .entry {
    margin-left: min(8rem);
  }
  .buttons {
    left: min(10rem);
  }
}

@media only screen and (min-width: 1280px) {
  .entryModalBck {
    margin: 20% auto auto 25%;
    height: 45vh;
    width: 45vw;
  }

  .message {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0.5px;
  }
}

@media only screen and (min-width: 1400px) {
  .entry {
    margin-left: min(9rem);
  }
  .buttons {
    left: min(11rem);
  }
}
@media only screen and (min-width: 1500px) {
  .entryModalBck {
    margin: 10% auto auto 25%;
    height: 45vh;
    width: 40vw;
  }

  .entry {
    margin-left: min(8rem);
  }
  .buttons {
    left: min(10rem);
  }
}

@media only screen and (min-width: 1600px) {
  .entryModalBck {
    margin: 12.5% auto auto 32.5%;
    height: 45vh;
    width: 35vw;
  }
}

@media only screen and (min-width: 1850px) {
  .entry {
    margin-left: min(9.5rem);
  }
  .buttons {
    left: min(12rem);
  }
}
