.detailsPage {
  display: flex;
}

.entryModalBck {
  position: relative;
  margin: 50% auto auto 8%;
  height: 50vh;
  width: 90vw;
  display: flex;
  background-color: #1e5656;
  border-radius: 40px;
}

@media only screen and (min-width: 400px) {
  .entryModalBck {
    height: 50vh;
    width: 90vw;
  }
}

@media only screen and (min-width: 768px) {
  .entryModalBck {
    margin: 30% auto auto 10%;
    height: 50vh;
    width: 80vw;
  }
}

@media only screen and (min-width: 960px) {
  .entryModalBck {
    margin: 25% auto auto 20%;
    height: 45vh;
    width: 60vw;
  }
}

@media only screen and (min-width: 1280px) {
  .entryModalBck {
    margin: 20% auto auto 25%;
    height: 45vh;
    width: 50vw;
  }
}

@media only screen and (min-width: 1600px) {
  .entryModalBck {
    margin: 12.5% auto auto 32.5%;
    height: 45vh;
    width: 35vw;
  }
}

.entryModalBck img {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}
