.loginPage {
  margin: auto 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) {
  .loginPage {
    margin: min(7.5rem) 7vw;
  }
}

.loginPage h4 {
  margin-top: 3rem;
  text-align: center;

  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media (min-width: 767px) {
  .loginPage h4 {
    font-size: 3rem;
  }
}

.loginPage h5 {
  margin-top: 1rem;

  text-align: center;
  font-family: Lato;
  font-weight: 500;
  color: #fff8e1;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 767px) {
  .loginPage h5 {
    margin-top: 1rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }
}

.loginHint a {
  text-decoration: none;
  color: #0cc072;
}

.loginHint a:hover {
  color: #ff9d46;
  border-bottom: 1px solid #ff9d46;
}

.loginPage .loginHint {
  margin-top: 2rem;
  color: #fff8e1;
  text-align: center;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (min-width: 767px) {
  .loginPage .loginHint {
    margin-top: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
  }
}
