.navBar {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .navBar .navigation {
    display: none;
  }
}

.navigationModalBck {
  position: relative;
  margin: 0 0 auto auto;
  height: 100vh;
  width: 70vw;
  display: flex;
  background-color: #1e5656;
}

@media (min-width: 575px) {
  .navigationModalBck {
    width: max(50vw);
  }
}

@media (min-width: 768px) {
  .navigationModalBck {
    display: none;
  }
}

.brand {
  position: relative;
  width: 8rem;
  height: 1.5rem;
  left: 7vw;
  top: 1.25rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
}

.hamburger {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 1.312rem;
  right: 6.25%;
  z-index: 3;
}

@media (min-width: 767px) {
  .navBar .hamburger {
    display: none;
  }
}

.navBar .mobileNavigation {
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  .navBar .mobileNavigation {
    display: none;
  }
}

/* -------------------- Navigation links - mobile -------------------------- */

.navigationPage {
  display: flex;
  flex-direction: column;
}

.navigationTitle {
  margin-top: 4rem;
  margin-left: 3rem;
  align-self: center;
}

.navigationTitle p {
  line-height: 2rem;
  width: fit-content;
  border-bottom: solid 2px #fff8e1;
  color: #fff8e1;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.navLinks {
  margin-top: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.navLink {
  margin-left: 3.5rem;
  margin-top: 2.25rem;
  list-style: none;
}

.navLinks li a {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff8e1;
}

.navLinks a:hover {
  text-shadow: 1.2px 1.2px 6px #141414;
  padding-bottom: 5px;
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 2 3px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.2s ease-out;
  background-size: 100% 3px, auto;
}

.navLinks li:nth-child(3) a {
  color: #ff9d46;
}

.navLinks li:last-child a {
  color: #78ddb1;
  letter-spacing: 0.015em;
  background-color: #033c3c;
  border: 10px solid #033c3c;
  border-radius: 8px;
}

.ol {
  border-bottom: 2px solid #377676;
  width: 80%;
  height: 3rem;
  margin: 0 auto 3rem 2rem;
}

.brainImage {
  position: absolute;
  display: inline;
  top: 0;
  right: 0;
}

@media (min-width: 767px) {
  .navBar .brainImage {
    display: none;
  }
}

/* THE NAVIGATION for DESKTOP and tablets */

@media (min-width: 768px) {
  .navBar {
    justify-content: center;
    display: flex;
    margin-right: min(10%);
    width: 100%;
  }

  .navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    line-height: 3rem;
    background-color: rgba(7, 67, 67, 0.65);
    width: 100%;
  }

  .pcNav a {
    text-decoration: none;
    margin-left: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0.015em;
    line-height: 4.5rem;
    font-family: Lato;
    font-weight: bold;
    color: #fff8e1;
  }
  .authNavi {
    text-decoration: none;
    font-size: 1.15rem;
    letter-spacing: 0.015em;
    line-height: 4.5rem;
    font-family: Lato;
    font-weight: bold;
    background-color: #033c3c;
    border: 1px solid #78ddb1;
    color: #78ddb1;
    border-radius: 8px;
    padding: 3.5% 7.5%;
    margin-left: min(7.5rem);
  }
}
