.navBar {
  display: flex;
  justify-content: space-between;
}

.brand {
  position: absolute;
  width: 131px;
  height: 19px;
  left: 24px;
  top: 19px;
  font-size: 1rem;

  color: #ffffff;
}

.hamburger {
  display: flex;
  position: absolute;
  cursor: pointer;
  top: 1.312rem;
  right: 6.25%;
  bottom: 18.75%;
}

.navBar .mobileNavigation {
  display: flex;
  align-items: center;
  background-color: #2c7a7a;
}

.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 75%;
  top: 7.5%;
  line-height: 3.5rem;
  left: 25%;
  padding: 20%;

  background-color: #2c7a7a;
  border-radius: 3%;
  overflow: visible;
  z-index: 2;
}

.navLinks ul {
  list-style: none;
}

.navLinks a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff8e1;
}

.navLinks p {
  position: absolute;
  top: 3%;
  line-height: 2rem;
  border-bottom: solid 2px #fff8e1;
  color: #fff8e1;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.navLinks li a:hover {
  text-shadow: 1.2px 1.2px 6px #141414;
  padding-bottom: 5px;
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 2 3px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.2s ease-out;
  background-size: 100% 3px, auto;
}

.navLinks ul li:nth-child(3) a {
  color: #ff9d46;
}

.navLinks ul li:last-child a {
  color: #78ddb1;
  letter-spacing: 0.015em;
  background-color: #033c3c;
  border: 10px solid #033c3c;
  border-radius: 8px;
}

@media (max-width: 990px) {
  .navBar .navigation {
    display: none;
  }
}
