/* .card {
    display: flex;
    flex-direction: row;
    background: #054343;
border: 1px solid #387359;
box-sizing: border-box;
border-radius: 8px;
}

.icon {
    position: absolute;
    
}



.name {
    left: 19.71%;
right: 21.17%;
top: 20.83%;
bottom: 20.83%;
    position: absolute;
    font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
}

.symbol {
    position: absolute;
} */