.entryFormPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .entryFormPage {
    margin: 0;
  }
}

.addEntryForm {
  margin: 1rem 0.5rem;
}

@media only screen and (min-width: 768px) {
  .addEntryForm {
    margin: 0 min(15vw);
  }
}

.entryControl,
.entryAction {
  height: 3.25rem;
}

.entryControl,
.entryControlM {
  display: flex;
  flex-direction: column;
  background-color: #043232;
  position: relative;

  border-radius: 8px;
  margin-top: 1.5rem;
  width: min(17.5rem);
}

@media only screen and (min-width: 768px) {
  .entryControl,
  .entryAction {
    height: 5rem;
    width: min(25rem);
  }

  .entryControlM {
    height: 15rem;
    width: min(25rem);
  }
}

.entryControl:hover,
.entryControlM:hover {
  border: 2px solid #78ddb1;
}

.entryControl input,
.entryControlM textarea {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  padding-top: 1.75rem;
  font-size: 1.25em;
  font-weight: 500;
  padding-left: 1rem;
  color: #c2f6f6;
}

@media only screen and (min-width: 768px) {
  .entryControl input {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
  .entryControlM textarea {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}

.entryControl label,
.entryControlM label {
  position: absolute;
  bottom: 0rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .entryControl label,
  .entryControlM label {
    bottom: 1rem;
    left: 0.5rem;
  }
}

.entryControl label::after,
.entryControlM label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.entryAction {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  justify-content: space-around;
  background: #78ddb1;
  border-radius: 8px;
}

.entryAction .addEntryButton {
  background-color: inherit;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .entryAction .addEntryButton {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.entryAction:hover {
  border: solid 2px #074343;
  cursor: pointer;
}

.titleContent,
.textContent {
  position: absolute;
  bottom: 0.25rem;
  color: #6ea5a5;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .titleContent,
  .textContent {
    font-size: 1.5rem;
  }
}

.entryControl input:focus + .labelName .titleContent,
.entryControl input:focus + .labelName .textContent,
.entryControlM input:focus + .labelName .textContent,
.entryControl input:valid + .labelName .titleContent,
.entryControl input:valid + .labelName .textContent,
.entryControlM input:valid + .labelName .textContent {
  transform: translateY(-100%);
  font-size: 1rem;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .entryControl input:focus + .labelName .titleContent,
  .entryControl input:focus + .labelName .textContent,
  .entryControlM input:focus + .labelName .textContent,
  .entryControl input:valid + .labelName .titleContent,
  .entryControl input:valid + .labelName .textContent,
  .entryControlM input:valid + .labelName .textContent {
    font-size: 1.25rem;
  }
}

.newEntryModalBck {
  position: relative;
  margin: 50% auto auto 8%;
  height: 50vh;
  width: 82.5vw;
  display: flex;
  background-color: #1e5656;
  border-radius: 40px;
}

.newEntryModalBck img {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.entryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  margin-top: 10%;
}

.entryDate {
  margin-top: 0;
}
