.journalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.journalTitle {
  display: flex;
  padding: 2.5rem;
  align-self: flex-start;
}

.journalTitle p {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

.journalTitle img {
  margin-left: 1rem;

  align-self: center;
  cursor: pointer;
  z-index: 1;
}

.entriesList {
  list-style: none;
}

/* .sorting {
  padding-bottom: 1rem;
  border-bottom: 3px solid #b2d4d4;
  margin-bottom: 2rem;
}

.sorting button {
  font: inherit;
  color: teal;
  border: 1px solid teal;
  background-color: transparent;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.sorting button:hover {
  background-color: #c2fafa;
} */
