/* THESE have to be updated!!!!!! */

.journalEntry {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  border: 1.25px solid #387359;
  box-sizing: border-box;
  border-radius: 50px;
}

.entryTitle p {
  font-family: Lato;
  font-size: 1.15rem;
  line-height: 1.5rem;
  color: #fff8e1;
}
