.aboutBtn {
  display: flex;
  align-items: center;
}

.aboutBtn a {
  text-decoration: none;
}

.btn_inactive {
  text-align: center;
  margin-top: 10vh;
  padding: 2%;
  border-radius: 36px;
  width: 7.5rem;
  height: 2.5rem;
  background-color: #487676;
  color: #aae9e9;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
}

.btn_inactive:last-child {
  margin-left: 3.5%;
}

.btn_inactive:hover,
.btn_active,
.btn_inactive:hover,
.btn_active {
  background-color: #78ddb1;
  color: #074343;
}
