.servicesAndFees {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7vw;
}

.title {
  margin-top: 10%;

  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ff9d46;
}

.title span {
  color: #fff8e1;
}

.subTitle {
  margin-top: 1rem;
  padding-right: 5rem;

  font-family: Lato;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff8e1;
}

.subTitle a {
  color: inherit;
}

.patientType {
  display: flex;
  align-items: center;
  position: relative;
  margin: 7.5% 0;
}

.patientType a {
  text-decoration: none;
}

.btn_adults,
.btn_children {
  text-align: center;
  padding: 1%;
  border-radius: 36px;
  width: 7.5rem;
  height: 2rem;
  background-color: #487676;
  color: #aae9e9;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
}

.btn_children {
  margin-left: 3.5%;
}

.btn_adults:hover,
.btn_adults:active,
.btn_children:hover,
.btn_children:active {
  background-color: #78ddb1;
  color: #074343;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  margin: 0.5rem 0;
  background-color: #1e5656;
}

.serviceIcon {
  margin: 0.3rem;
  width: 6rem;
  height: 6rem;
}
