.moodModalBck {
  position: relative;
  margin: 50% auto auto 5%;
  height: 50vh;
  width: 90vw;
  background-color: #1e5656;
  border-radius: 40px;
}

@media only screen and (min-width: 375px) {
  .moodModalBck {
    margin: 20% auto;
    width: 90vw;
    height: 70vh;
  }
}

@media only screen and (min-width: 414px) {
  .moodModalBck {
    margin: 20% auto;
    width: 85vw;
  }
}

@media only screen and (min-width: 768px) {
  .moodModalBck {
    margin: 10% auto;
    width: 90vw;
    height: 70vh;
  }
}

@media only screen and (min-width: 1024px) {
  .moodModalBck {
    width: 70vw;
    height: 70vh;
  }
}

@media only screen and (min-width: 1280px) {
  .moodModalBck {
    width: 50vw;
  }
}

.closeImg {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.moodContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.moodTitle {
  margin-top: 15%;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff8e1;
}

@media only screen and (min-width: 450px) {
  .moodTitle {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .moodTitle {
    margin-top: 7.5%;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: 0.75px;
  }
}

.moodText {
  margin-top: 5rem;
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #fff8e1;
}

.moods {
  display: flex;
  justify-content: space-evenly;
}

.moods img {
  cursor: pointer;
}

.submitBtn {
  margin-top: 5rem;
  height: 3rem;
  background-color: #78ddb1;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.05rem;
  font-family: Lato;
  font-weight: bold;
  color: #074343;
  line-height: 1.75rem;
  cursor: pointer;
}

.skipBtn {
  text-decoration: none;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  align-self: start;
  line-height: 1.5rem;
  cursor: pointer;
}

.skipBtn p {
  color: #6ea5a5;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.skipBtn:hover {
  border-bottom: 1px solid #fff8e1;
}

.skipBtn p:hover {
  color: #fff8e1;
}

.skipBtn img {
  transform: rotate(180deg);
}

.modalControls {
  display: flex;
  flex-direction: column;
}
