.notFound {
  margin-top: 50%;
  margin-left: 10%;
  width: 100%;
}

h3 {
  font-size: 2rem;
  color: orange;
  text-shadow: 2.5px 2.5px #201d1d;
}

.btn_back {
  margin: 24px;
  border-radius: 36px;
  width: 6rem;
  height: 2rem;
  background-color: #0cc072;
  color: #074343;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}

.btn_back:hover {
  background-color: #6ea5a5;
  color: #fff8e1;
}
