.therapistPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.therapist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.therapistCard {
  display: flex;
  align-items: center;
  background-color: #053737;
  height: 7.5rem;
  margin: 10% 5% 10% 5%;
  border-radius: 15px;
}

.therapistCard img {
  height: 64px;
  width: 64px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin: 5%;
}

.vl {
  border-left: 1px solid #377676;
  height: 5rem;
  margin-left: 3%;
}

.therapistName {
  font-size: 1.25rem;
  color: #fff8e1;
  font-weight: bold;
  line-height: 1.75rem;
  text-align: center;
}

.profession {
  font-size: 1.2rem;
  color: #ff9d46;
  margin-left: 12px;
}

.aboutMe {
  display: flex;
  align-items: center;
}

.aboutMe p {
  color: #ff9d46;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 900;
}

.aboutMe span {
  color: #fff8e1;
}

.edField {
  display: flex;
}
