.therapistPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 7vw;
}

.therapistCard {
  display: flex;
  align-items: center;
  background-color: #053737;
  height: 7.5rem;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 15px;
}

@media (min-width: 767px) {
  .therapistCard {

    width: 60vw;
    height: 8rem;
  }
}

@media (min-width: 1024px) {
  .therapistCard {
    width: 45vw;
    height: 8rem;
    margin: 6.5% auto;
  }
}
@media (min-width: 1280px) {
  .therapistCard {
    width: 35vw;
  }
}

.therapistCard img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin: 5% auto;
}

@media (min-width: 768px) {
  .therapistCard img {

    height: 96px;
    width: 96px;

    margin-left: 2.5%;
  }
}

@media (min-width: 1024px) {
  .therapistCard img {
    height: 100px;
    width: 100px;
    margin-left: 2.5%;
  }
}
.vl {
  border-left: 1px solid #377676;
  height: 5rem;
  margin-left: 3%;
}

@media only screen and (min-width: 768px) {
  .vl {
    border-left: 2px solid #377676;
    margin-right: 5%;
    height: 6rem;
  }
}
@media (min-width: 1024px) {
  .vl {
    border-left: 2px solid #377676;
    margin-right: 5%;
    margin-left: 2.5rem;
    height: 6rem;
    opacity: 0.75;
  }
}

.therapistName {
  font-size: 1.25rem;
  color: #fff8e1;
  font-weight: bold;
  line-height: 1.75rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .therapistName {
    font-size: 2rem;
    color: #fff8e1;
    font-weight: bold;
    line-height: 3rem;
  }
}
@media (min-width: 1024px) {
  .therapistName {
    font-size: 2.5rem;
  }
}

.profession {
  font-size: 1.2rem;
  color: #ff9d46;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .profession {
    line-height: 3.25rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1023px) {
  .profession {
    font-size: 1.75rem;
  }
}

.theStory {
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
  font-size: 0.85rem;
  font-weight: 400;
  color: #fff8e1;
}

@media (min-width: 450px) {
  .theStory {

    width: 65vw;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 350;

    align-self: center;
    text-align: justify;
    letter-spacing: 0.1px;
  }
}

@media (min-width: 767px) {
  .theStory {
    width: 60vw;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .theStory {
    width: 45vw;
  }
}

@media (min-width: 1280px) {
  .theStory {
    width: 35vw;
  }
}

.theStory p {
  margin-bottom: 7.5%;
}

@media only screen and (min-width: 768px) {
  .theStory {
    margin: 0 12%;
  }
}

.therapist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutMe {
  display: flex;
  align-items: flex-start;
  margin: 5% 0;
}
@media only screen and (min-width: 768px) {
  .aboutMe {
    margin: 2.5% 0;
  }
}

.aboutMe p {
  color: #ff9d46;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .aboutMe p {
    font-size: 1.75rem;
  }
}

.aboutMe span {
  color: #fff8e1;
}

.edField {
  display: flex;
  margin-top: 3%;
}

@media only screen and (min-width: 768px) {
  .edField {
    margin-left: -6vw;
  }
}

.edField p {
  font-size: 1rem;
  color: #6ea5a5;
  margin-left: 7vw;
  margin-bottom: 1rem;
  letter-spacing: -0.75px;
}
@media only screen and (min-width: 768px) {
  .edField p {
    font-size: 1.25rem;
    margin-left: 2rem;
    width: 45vw;
  }
}

.edField:last-child {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .edField img {
    margin-left: 12%;
  }
}
