.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 450px) {
  .aboutSection {
    margin-left: 5%;
  }
}

@media (min-width: 768px) {
  .aboutSection {
    margin-left: 0;
  }
}

.sectionTitle {
  display: flex;
  flex-direction: column;
}

@media (min-width: 450px) {
  .sectionTitle {
    margin-top: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .sectionTitle {
    margin-top: 7.5%;
  }
}

.sectionTitle p {
  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #fff8e1;
}

@media (min-width: 450px) {
  .sectionTitle p {
    font-size: 2.25rem;
    line-height: 3rem;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .sectionTitle p {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
  }
}

.sectionTitle p:last-child {
  color: #ff9d46;
}

.aboutBtn {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 450px) {
  .aboutBtn {
    justify-content: center;
    position: relative;
  }
}

@media only screen and (min-width: 768px) {
  .aboutBtn {
    line-height: 3.5rem;
  }
}

.aboutBtn a {
  text-decoration: none;
}

.btn_inactive {
  text-align: center;
  margin-top: 2rem;
  padding: 1.5%;
  border-radius: 36px;
  width: 7.5rem;
  height: 2rem;
  background-color: #487676;
  color: #aae9e9;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
}
@media only screen and (min-width: 768px) {
  .btn_inactive {
    width: 9rem;
    margin-top: 3rem;
    font-size: 1.15rem;
    line-height: 2rem;
    height: 3rem;
  }
}
.btn_inactive:last-child {
  margin-left: 3.5%;
}

@media only screen and (min-width: 450px) {
  .btn_inactive:last-child {
    margin-left: 5%;
  }
}

@media only screen and (min-width: 768px) {
  .btn_inactive:last-child {
    margin-left: 7%;
  }
}

.btn_inactive:hover,
.btn_active {
  background-color: #78ddb1;
  color: #074343;
}
