.entryFormPage {
  display: flex;
}

.newEntryModalBck {
  position: relative;
  margin: 30% auto auto 5%;
  height: 80vh;
  width: 90vw;
  display: flex;
  background-color: #1e5656;
  border-radius: 40px;
}

.newEntryModalBck img {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.entryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.formTitle {
  margin: 5% auto 7.5% auto;
}

.formTitle p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff8e1;
}

.addEntryForm {
  margin: 0;
  flex-grow: 1;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entryControl,
.entryAction {
  height: 3rem;
}

.entryAction {
  width: min(7.55rem);
}

.entryControl,
.entryControlM {
  display: flex;
  flex-direction: column;
  background-color: #043232;
  position: relative;

  border-radius: 8px;
  margin-top: 0.5rem;
  width: min(17.5rem);
}

.entryControl:hover,
.entryControlM:hover {
  border: 2px solid #78ddb1;
}

.entryControl input,
.entryControlM textarea {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  padding-top: 1.75rem;
  font-size: 1.25em;
  font-weight: 400;
  padding-left: 1rem;
  color: #c2f6f6;
}

.entryControl label,
.entryControlM label {
  position: absolute;
  bottom: 0rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.entryControl label::after,
.entryControlM label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.entryAction {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-around;
  background: #78ddb1;
  border-radius: 8px;
}

.entryAction .editBtn,
.entryAction .cancelEntryBtn {
  background-color: inherit;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
  text-decoration: none;
}

.entryAction:hover {
  border: solid 2px #074343;
  cursor: pointer;
}

.titleContent,
.textContent {
  position: absolute;
  top: 0.1rem;
  left: 0.25rem;
  color: #6ea5a5;
  font-size: 1rem;
  opacity: 0.75;
}

@media only screen and (min-width: 375px) {
  .newEntryModalBck {
    margin: 20% auto;
    width: 90vw;
  }
}

@media only screen and (min-width: 414px) {
  .newEntryModalBck {
    margin: 20% auto;
    width: 85vw;
    height: 65vh;
  }
}

@media only screen and (min-width: 450px) {
  .formTitle {
    margin-top: 10%;
  }
  .entryAction {
    margin-top: 2rem;
    width: max(8rem);
  }
  .entryAction:last-child {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .newEntryModalBck {
    margin: 10% auto;
    width: 75vw;
    height: 85vh;
  }
  .entryFormPage {
    margin: 0;
  }
  .formTitle {
    margin-top: 3.5%;
  }
  .formTitle p {
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;
    letter-spacing: 0.5px;
  }
  .entryDate p {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .addEntryForm {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
  .btns {
    justify-content: space-around;
  }
  .entryAction {
    height: 3.5rem;
    width: max(8rem);
  }
  .entryControl {
    margin-top: 1.25rem;
    height: 3.5rem;
    width: max(50vw);
  }

  .entryControlM {
    width: max(70vw);
  }
  .entryAction {
    width: max (50vw);
  }
  .entryControl input {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }
  .entryControlM textarea {
    padding-top: 1.75rem;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  .entryAction:last-child {
    margin-left: 0;
  }
  .titleContent,
  .textContent {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 820px) {
  .newEntryModalBck {
    width: 70vw;
    height: 65vh;
  }
}

@media only screen and (min-width: 1024px) {
  .newEntryModalBck {
    width: 70vw;
    height: 75vh;
  }
  .formTitle {
    margin: 1rem 1rem;
  }
  .entryControl {
    width: max(40vw);
  }

  .entryControlM {
    height: 15rem;
    width: max(50vw);
  }
}

@media only screen and (min-width: 1280px) {
  .newEntryModalBck {
    width: 40vw;
    height: 80vh;
    margin: 5% auto;
  }
  .formTitle {
    margin: 2rem 2rem;
  }
  .entryControl {
    width: max(30vw);
  }

  .entryControlM {
    width: max(30vw);
  }
}
