.userPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: #074343; */
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.userPage p {
  margin-top: 25%;
  text-align: center;

  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media (min-width: 767px) {
  .userPage p {
    margin-top: 10%;
  }
}

.userLinks {
  display: flex;
  flex-direction: column;
  margin: 3.5rem auto;
}

.userLink {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: min(75vw);
  height: 3rem;
  margin-top: 3%;
  border-radius: 8px;
  cursor: pointer;

  background: #054343;
  border: 1px solid #387359;
}

@media (min-width: 767px) {
  .userLink {
    height: min(5rem);
    width: max(25vw);
    margin-top: 7.5%;
  }
}

.userLink a {
  text-decoration: none;
}

.userLink:hover {
  text-shadow: 1.2px 1.2px 5px #141414;
  background-color: #053737;
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 2 3px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.3s ease-out;
  background-size: 100% 3px, auto;
}

.userNav {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff8e1;
  line-height: 1.75rem;
  flex-grow: 20;

  padding-left: 15%;
}

@media (min-width: 767px) {
  .userNav {
    line-height: 2.25rem;
    font-size: 1.5rem;
    font-weight: normal;
  }
}

.userIcon {
  flex-grow: 0;
  height: 19px;
  width: 21px;
  padding-left: 8%;
}

.userArrow {
  padding-right: 8%;
  flex-grow: 1;
}

.logout {
  cursor: pointer;
}

@media (min-width: 767px) {
  .logout {
    margin-top: 2%;
    width: 12rem;
    padding-bottom: 1rem;
  }
}

.logout:hover {
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 1 1px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.3s ease-out;
  background-size: 100% 2px, auto;
}
