.signupPage {
  margin: auto 7vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) {
  .signupPage {
    margin: min(7.5rem) 7vw;
  }
}

.signupPage h2 {
  margin-top: 3rem;
  text-align: center;

  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media (min-width: 767px) {
  .signupPage h2 {
    font-size: 3rem;
  }
}

.signupPage h4 {
  margin-top: 1rem;

  text-align: center;
  font-family: Lato;
  font-weight: 500;
  color: #fff8e1;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 767px) {
  .signupPage h4 {
    margin-top: 1rem;
    line-height: 3rem;
    font-size: 1.5rem;
  }
}

.signup {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  align-items: center;
  width: 100%;
}

.signupAction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  align-self: start;
  height: 1.75rem;
}

.loading p {
  size: 1.25rem;
}

.signupControl,
.signupAct {
  height: 3.25rem;
}

.signupControl {
  display: flex;
  flex-direction: column;
  background-color: #043232;
  position: relative;

  border-radius: 8px;
  margin-top: 1.5rem;
  width: min(19rem);
}

@media only screen and (min-width: 768px) {
  .signupControl,
  .signupAct {
    height: 5rem;
    width: min(25rem);
  }
  .loading {
    height: 2.5rem;
  }
}

.signupControl:hover {
  border: 2px solid #78ddb1;
}

.signupControl input {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  padding-top: 1.75rem;
  font-size: 1.25em;
  font-weight: 500;
  padding-left: 1rem;
  color: #c2f6f6;
}

@media only screen and (min-width: 768px) {
  .signupControl input {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}

.signupControl label {
  position: absolute;
  bottom: 0rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  .signupControl label {
    bottom: 1rem;
    left: 0.5rem;
  }
}

.signupControl label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.signupAct {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
  background: #78ddb1;
  border-radius: 8px;
}

.loading p {
  size: 1.2rem;
}

.signupAct .signupButton {
  background-color: inherit;
  border: none;
  margin: 0 0.75rem;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .signupAct .signupButton {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.signupAct:hover {
  border: solid 2px #074343;
}

.emailContent,
.passwordContent {
  position: absolute;
  bottom: 0.25rem;
  color: #6ea5a5;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .emailContent,
  .passwordContent {
    font-size: 1.5rem;
  }
}

.signupControl input:focus + .labelName .emailContent,
.signupControl input:focus + .labelName .passwordContent,
.signupControl input:valid + .labelName .emailContent,
.signupControl input:valid + .labelName .passwordContent {
  transform: translateY(-100%);
  font-size: 1rem;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  .signupControl input:focus + .labelName .emailContent,
  .signupControl input:focus + .labelName .passwordContent,
  .signupControl input:valid + .labelName .emailContent,
  .signupControl input:valid + .labelName .passwordContent {
    font-size: 1.25rem;
  }
}

.loginInvitation a {
  text-decoration: none;
  color: #0cc072;
}

.loginInvitation a:hover {
  color: #ff9d46;
  border-bottom: 1px solid #ff9d46;
}

.loginInvitation {
  margin-top: 2rem;
  color: #fff8e1;
  text-align: center;
  font-weight: 400;
  line-height: 1.5rem;
}

@media (min-width: 767px) {
  .loginInvitation {
    margin-top: 1.5rem;
    line-height: 2.5rem;
    font-weight: 400;
  }
}
