.successPage {
  display: flex;
}

.successModalBck {
  position: relative;
  margin: 30% auto auto 5%;
  height: 60vh;
  width: 90vw;
  display: flex;
  background-color: #1e5656;
  border-radius: 40px;
}

.closeImg {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.checkImg {
  width: 10rem;
}

.title {
  margin: 5%;
}

.title p {
  font-size: 2.25rem;
  line-height: 2.25rem;
  font-weight: 500;
  color: #fff8e1;
}
@media (min-width: 768px) {
  .title p {
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-align: center;
    letter-spacing: 0.75px;
  }
}

.successMessage {
  margin-top: 5%;
}

.successMessage p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: #fff8e1;
  text-align: center;
}
@media (min-width: 768px) {
  .successMessage p {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

.okayBtn {
  margin-top: 20%;
  padding: 2.5% 7.5%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-around;
  background: #78ddb1;
  border-radius: 8px;
}

.okayBtn:hover {
  border: solid 2px #074343;
}

.okayBtn a {
  text-decoration: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
}

@media only screen and (min-width: 375px) {
  .successModalBck {
    margin: 25% auto;
    width: 85vw;
    height: 65vh;
  }
  .title p {
    font-size: 2rem;
  }

  .okayBtn {
    margin-top: 22.5%;
  }

  .successMessage {
    margin-top: 5%;
    padding: 0 5%;
  }
  .successMessage p {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .okayBtn {
    margin-top: 10%;
  }
}

@media only screen and (min-width: 414px) {
  .successModalBck {
    margin: 20% auto;
    width: 85vw;
  }
  .okayBtn {
    margin-top: 17.5%;
  }
}

@media only screen and (min-width: 475px) {
  .successMessage {
    margin-top: 7.5%;
  }
  .okayBtn {
    margin-top: 12.5%;
  }
}

@media only screen and (min-width: 540px) {
  .successModalBck {
    margin: 15% auto;
    width: 65vw;
    height: 65vh;
  }
}

@media only screen and (min-width: 768px) {
  .successModalBck {
    margin: 10% auto;
    width: 60vw;
    height: 50vh;
  }
}

@media only screen and (min-width: 800px) {
  .successModalBck {
    width: 60vw;
    height: 50vh;
  }
  .successMessage p {
    font-size: 1.7rem;
    font-weight: 400;
  }
  .okayBtn a {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-bottom: 0.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  .successModalBck {
    width: 50vw;
    height: 30rem;
  }
  .checkImg {
    width: 7.5rem;
  }
  .okayBtn {
    margin-top: 2.5rem;
  }
  .successMessage {
    margin-top: 1rem;
    padding: 0 5%;
  }
}

@media only screen and (min-width: 1280px) {
  .successModalBck {
    width: 30vw;
    height: 57.5vh;
  }
}
