.homeworkPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

@media only screen and (min-width: 768px) {
  .homeworkPage {
    margin-top: 10%;
  }
}

.homeworkTitle {
  display: flex;
  padding: 2.5rem;
  align-self: flex-start;
}

@media only screen and (min-width: 450px) {
  .homeworkTitle {
    align-self: center;
  }
}

.homeworkTitle p {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .homeworkTitle p {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
}

.homeworkType {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10% 0;
}

@media only screen and (min-width: 768px) {
  .homeworkType {
    margin: 2rem 0;
  }
}

.homeworkType a {
  padding: 1%;
  text-decoration: none;
}

.homeworkType a:last-child {
  margin-left: 0.75rem;
}

@media only screen and (min-width: 768px) {
  .homeworkType a:last-child {
    margin-left: 1.5rem;
  }
}

.inputField {
  display: none;
}

.homework_active,
.homework_inactive {
  text-align: center;
  padding: 1%;
  border-radius: 36px;
  width: 7.5rem;
  height: 2rem;
  background-color: #487676;
  color: #aae9e9;
  border: none;
  line-height: 1.75rem;
  font-size: 0.85rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .homework_active,
  .homework_inactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.25rem;
    font-size: 1.15rem;
    width: 9rem;
    height: 2.75rem;
  }
}

.homework_inactive:hover {
  background-color: #78ddb1;
  color: #074343;
}

.actionBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

@media only screen and (min-width: 450px) {
  .actionBtns {
    width: 60%;
  }
}
@media only screen and (min-width: 550px) {
  .actionBtns {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .actionBtns {
    width: 30%;
  }
}

@media only screen and (min-width: 1040) {
  .actionBtns {
    width: 20%;
  }
}

.actionBtns .chooseBtn,
.actionBtns .uploadBtn {
  text-align: center;
  width: 47.5%;
  padding: 5%;
  border-radius: 8px;
  margin-top: 4rem;
  background: #78ddb1;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: #074343;
  cursor: pointer;
}

.actionBtns .chooseBtn:hover,
.actionBtns .uploadBtn:hover {
  border: solid 2px #fff8e1;
  font-size: 1.25rem;
}
