.detailsPage {
  display: flex;
}

.entryModalBck {
  position: relative;
  margin: 50% auto auto 8%;
  height: 50vh;
  width: 82.5vw;
  display: flex;
  background-color: #1e5656;
  border-radius: 40px;
}

.entryModalBck img {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
}
