.detailsPage {
  display: flex;
}

.entryModalBck {
  position: relative;
  margin: 15%;
  height: 60vh;
  display: flex;
  background-color: #1e5656;
}

.entryModalBck img {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
