/* PAGE */

.deletePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7vw;
}

@media only screen and (min-width: 768px) {
  .deletePage {
    margin: 0;
  }
}

.deleteModal {
  display: flex;
}

.deleteTitle {
  margin-top: 2rem;
  text-align: left;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .deleteTitle {
    margin-top: min(7.5rem);
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.deleteSubTitle {
  margin-bottom: 2rem;
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff8e1;
  text-align: center;
  padding: 1rem 2.25rem;
}

@media only screen and (min-width: 768px) {
  .deleteSubTitle {
    margin-top: 1rem;
    font-size: 1.35rem;
    line-height: 1.75rem;
    font-weight: 400;
  }
}

.deleteControl,
.deleteAction {
  height: 3.5rem;
  width: min(19rem);
}

@media only screen and (min-width: 768px) {
  .deleteControl,
  .deleteAction {
    height: 5rem;
    width: min(22rem);
  }
}

.deleteControl {
  display: flex;
  flex-direction: column;
  background-color: #043232;
  position: relative;

  border-radius: 8px;
  margin-top: 1rem;
}

.deleteControl:hover {
  border: 2px solid #78ddb1;
}

.deleteControl input {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  padding-top: 1.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 1rem;
  color: #c2f6f6;
}

@media only screen and (min-width: 768px) {
  .deleteControl input {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}

.deleteControl label {
  position: absolute;
  bottom: 0rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .deleteControl label {
    bottom: 1rem;
    left: 0.5rem;
  }
}

.deleteControl label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.deleteAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteAction .deleteBtn,
.deleteAction .cancelBtn {
  text-align: center;
  width: 47.5%;
  padding: 5%;
  border-radius: 8px;
  margin-top: 4rem;
  background: #78ddb1;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 1.75rem;
  color: #074343;
  cursor: pointer;
}

.deleteBtn:hover,
.cancelBtn:hover {
  border: solid 2px #fff8e1;
}

.passwordContent,
.emailContent {
  position: absolute;
  bottom: 0.25rem;
  color: #6ea5a5;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.deleteControl input:focus + .labelName .passwordContent,
.deleteControl input:valid + .labelName .passwordContent,
.deleteControl input:focus + .labelName .emailContent,
.deleteControl input:valid + .labelName .emailContent {
  transform: translateY(-100%);
  font-size: 1rem;
  opacity: 0.5;
}

/* MDOAL */

.deleteModalBck {
  display: flex;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35% 5%;
  background-color: #1e5656;
  border-radius: 40px;
}

@media only screen and (min-width: 768px) {
  .deleteModal {
    margin: 15% auto 15% auto;
    width: max(50vw);
  }
}

.deleteModal img {
  align-self: flex-end;
  margin: 7.5% 7.5%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .deleteModal img {
    margin: 3.5% 5%;
  }
}

.modalTitle {
  margin-bottom: 10%;
  font-family: Merriweather;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .modalTitle {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 5%;
  }
}

.modalText {
  margin: 2% 7.5%;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .modalText {
    font-size: 1.15rem;
    line-height: 2rem;
    width: max(75%);
    margin: 2% 3%;
  }
}

.modalBtn {
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
  background-color: #78ddb1;
  border-radius: 8px;
  margin: 2.5rem auto;
  padding: 2.5% 5%;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .modalBtn {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.modalBtn:hover {
  text-shadow: 0.85px 0.85px 3px #141414;
  background-color: #ff9d46;
  background-image: linear-gradient(#fff8e1, #ffffff),
    linear-gradient(transparent, transparent);
  background-size: 2 3px, auto;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.3s ease-out;
  background-size: 100% 3px, auto;
}
