/* PAGE */

.deletePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7vw;
}

.deleteModal {
  display: flex;
}

.deleteTitle {
  margin-top: 2rem;
  text-align: left;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #fff8e1;
}

.deleteSubTitle {
  margin-bottom: 2rem;
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff8e1;
  text-align: center;
  padding: 1rem 2.25rem;
}

.deleteControl,
.deleteAction {
  height: 3.5rem;
  width: min(19rem);
}

.deleteControl {
  display: flex;
  flex-direction: column;
  background-color: #043232;
  position: relative;

  border-radius: 8px;
  margin-top: 1rem;
}

.deleteControl:hover {
  border: 2px solid #78ddb1;
}

.deleteControl input {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  padding-top: 1.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 1rem;
  color: #c2f6f6;
}

.deleteControl label {
  position: absolute;
  bottom: 0rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.deleteControl label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.deleteAction {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  justify-content: space-around;
  background: #78ddb1;
  border-radius: 8px;
  cursor: pointer;
}

.deleteAction .deleteBtn {
  background-color: inherit;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
}

.deleteAction:hover {
  border: solid 2px #074343;
}

.passwordContent,
.emailContent {
  position: absolute;
  bottom: 0.25rem;
  color: #6ea5a5;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

.deleteControl input:focus + .labelName .passwordContent,
.deleteControl input:valid + .labelName .passwordContent,
.deleteControl input:focus + .labelName .emailContent,
.deleteControl input:valid + .labelName .emailContent {
  transform: translateY(-100%);
  font-size: 1rem;
  opacity: 0.5;
}

/* MDOAL */
