.changePasswordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7vw;
}

@media only screen and (min-width: 768px) {
  .changePasswordPage {
    margin-left: 0;
  }
}

.passwordTitle {
  margin: 2.5rem auto 1rem auto;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

@media only screen and (min-width: 768px) {
  .passwordTitle {
    margin-top: min(7.5rem);
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
}

.passwordSubTitle {
  margin-bottom: 2rem;
  font-family: Lato;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff8e1;
  text-align: center;
  padding: 1rem 2.25rem;
}

@media only screen and (min-width: 768px) {
  .passwordSubTitle {
    font-size: 1.35rem;
    font-weight: 500;
    line-height: 2rem;
  }
}

.passwordFormCtrl,
.passwordFormAct {
  height: 3.5rem;
  width: min(19rem);
}

@media only screen and (min-width: 768px) {
  .passwordFormCtrl,
  .passwordFormAct {
    height: 4.5rem;
    width: min(22rem);
  }
}

.passwordFormCtrl {
  display: flex;
  flex-direction: column;
  background-color: #043232;
  position: relative;

  border-radius: 8px;
  margin-top: 1rem;
}

.passwordFormCtrl:hover {
  border: 2px solid #78ddb1;
}

.passwordFormCtrl input {
  background-color: inherit;
  border: none;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  padding-top: 1.75rem;
  font-size: 1.25rem;
  font-weight: 500;
  padding-left: 1rem;
  color: #c2f6f6;
}

.passwordFormCtrl label {
  position: absolute;
  bottom: 0rem;
  left: 0.25rem;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.passwordFormCtrl label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.passwordFormAct {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  justify-content: space-around;
  background: #78ddb1;
  border-radius: 8px;
  cursor: pointer;
}

.passwordFormAct .resetBtn {
  background-color: inherit;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
}

.passwordFormAct:hover {
  border: solid 2px #074343;
}

.pwContent {
  position: absolute;
  bottom: 0.25rem;
  color: #6ea5a5;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
  .pwContent {
    font-size: 1.5rem;
  }
}

.passwordFormCtrl input:focus + .labelName .pwContent,
.passwordFormCtrl input:valid + .labelName .pwContent {
  transform: translateY(-100%);
  font-size: 1rem;
  opacity: 0.5;
}
