
p  {
    position: absolute;
    width: 196px;
    height: 135px;
    left: 51px;
    top: 81px;
    z-index: 1;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: #FFF8E1;
}

