#root {
  display: flex;
}

@media only screen and (max-width: 360px) {
  p {
    position: absolute;
    width: 75%;
    height: 55%;
    left: 20;
    top: 32%;
    z-index: 1;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 3rem;
    color: #fff8e1;
  }

  h2 {
    position: absolute;
    width: 274px;
    height: 72px;
    left: 51px;
    top: 228px;

    color: #ffffff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}

/* p {
  position: absolute;
  width: 12rem;
  height: 8.5rem;
  left: 51px;
  top: 81px;
  z-index: 1;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #fff8e1;
}

h2 {
  position: absolute;
  width: 274px;
  height: 72px;
  left: 51px;
  top: 228px;

  color: #ffffff;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
} */
