.graphPage {
  display: flex;
  margin-left: 4vw;
  flex-direction: column;
}

.graphTitle {
  margin-top: 10%;
}

.graphTitle p {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 3rem;
  color: #fff8e1;
}

.chartZone {
  display: flex;
  margin-top: 10%;
  background-color: #054343;
}

.buttons {
  display: flex;
  flex-direction: column-reverse;
}

.registerBtn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  width: max(11rem);
  height: 2.5rem;
  background-color: #78ddb1;
  border: none;
  border-radius: 0.5rem;
  margin-left: 20%;
  cursor: pointer;
}
.registerBtn:first-child {
  margin-top: 1rem;
}

.registerBtn a {
  text-decoration: none;
  font-size: 1.05rem;
  font-family: Lato;
  font-weight: bold;
  color: #074343;
  line-height: 1.75rem;
}

.registerBtn:hover {
  border: solid 2px #fff8e1;
}

@media only screen and (min-width: 768px) {
  .graphPage {
    align-items: center;
    margin-left: 0;
  }

  .graphTitle {
    align-self: center;
  }
  .graphTitle p {
    font-size: 2.75rem;
    line-height: 3.25rem;
  }
  .chart {
    position: absolute;

    background-color: #054343;
  }

  .buttons {
    display: flex;
    flex-direction: row;
  }

  .registerBtn {
    margin-left: 2rem;
    width: max(12rem);
    height: 4rem;
  }
  .registerBtn:first-child {
    margin-top: 5rem;
  }
  .registerBtn a {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
}
