.confidentialityPolicyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7vw;
}

.confidentialityTitle {
  margin-top: 1rem;
  text-align: left;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #fff8e1;
}

.confidentialityText {
  margin: 2rem 1.5rem auto auto;
  text-align: justify;
  font-family: Lato;
  font-weight: 350;
  font-size: 0.9rem;
  line-height: 1.15rem;
  color: #fff8e1;
}

.confidentialityText p {
  margin-bottom: 0.75rem;
}

.backBtn {
  background: #78ddb1;
  border-radius: 8px;
  padding: 0.75rem 2.25rem;
  border: none;
  font-family: Lato;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: #074343;
  cursor: pointer;
  margin-bottom: 2rem;
}

.backBtn:hover {
  border: solid 2px #fff8e1;
}

@media only screen and (min-width: 768px) {
  .confidentialityPolicyPage {
    margin: 0;
  }
  .confidentialityTitle {
    margin-top: min(7.5rem);
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .confidentialityText {
    margin: 5rem auto;
    width: 60vw;
    font-size: 1.25rem;
    line-height: 1.35rem;
    opacity: 0.75;
  }
}

@media only screen and (min-width: 1280px) {
  .confidentialityText {
    width: 50vw;
  }
}
